#table1
{
    background-color:Yellow;
    min-width:100%;
    max-width:800px;
    float:left;
}

#table2
{
    background-color:red;
    width:250px;
    float:right;
}

#left{
  float:left;
}

#right{
  float:right;
}