<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Stock Market</title>
    <meta-charset='utf-8'>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}"/>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">StockMarket</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'project:index' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'project:help' %}"><span ></span> Help</a></li>
    </ul>
  </div>
</nav>

<div class='jumbotron'>
    <h1 text-align="center"> <strong>Welcome to Stock Market</strong></h1>

    <div text-align="center">
    <form class="form-group" method="post">
        {{form}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="submit">
        <br>
    </form>
    </div>

    {% if not_found %}
        <script>alert('No Stock Found')</script>
     {% endif %}

    {% if flag == 'index' %}

        {{ insert_message }}<br>
         <div class="jumbotron">
             {% if dict1 %}
             <table class="table table-striped table-bordered" >
                 <thead>
                 <th scope="col">StockCode</th>
                 <th scope="col">StockName</th>
                 <th scope="col">CurrentPrice</th>
                 <th scope="col">52 Week High Price</th>
                 <th scope="col">52 Week Low Price</th>
                 </thead>
                 {% for stock in dict2 %}
                 <tr>
                     <td>{{ stock.stock_code }}</td>
                     <td>{{ stock.stock_name }}</td>
                     <td>{{ stock.Current_price }}</td>
                     <td>{{ stock.Max_price }}</td>
                     <td>{{ stock.Min_price }}</td>
                 </tr>
                 {% endfor %}
             </table>
             {% else %}
             <p> No Stock Records </p>
             {% endif %}
         </div>
    {% elif flag == 'view' %}
     <div class="jumbotron">
         <a href="{% url 'project:index' %}">Back</a>
         {% if current_price %}
         <table  class="table table-striped table-bordered">
             <thead>
             <th scope="col">StockName</th>
             <th scope="col">CurrentPrice</th>
             <th scope="col">52 Week High Price</th>
             <th scope="col">52 Week Low Price</th>
             </thead>
             <tr>
                 <td>{{ stock_name }}</td>
                 <td>{{ current_price }}</td>
                 <td>{{ high_value }}</td>
                 <td>{{ low_value }}</td>
             </tr>
         </table>
         {% else %}

            <div class="jumbotron">
                <h2 class="h3"> <strong>Don't know the Stock Code? No Worry we have listed top 30 NSE Stocks for you.</strong> </h2>
                 <table class="table table-striped table-bordered">
                     <thead class="thead-dark">
                     <th scope="col">StockCode</th>
                     <th scope="col">StockName</th>
                     </thead>
                     <tbody table-striped>
                     {% for stock in dict3.stock_record %}
                     <tr>
                         <td>{{ stock.stock_name }}</td>
                         <td>{{ stock.code }}</td>
                     </tr>
                     {% endfor %}
                     </tbody>
                 </table>
            </div>
         {% endif %}
         </div>
        <br>
        {% endif %}

    <!--<img src="{% static 'images/stock_market.jpg' %}" alt="Image didn't show up!"> -->
</div>
</body>
</html>
